<?php
$collectionQuestion = $this->getFaqQuestion();
$collectionCategory = $this->getFaqCategory();
$getUrl = $this->getParamIdQuestion();
//echo '<pre>'; print_r($collectionQuestion);die((__FILE__).'-->'.(__FUNCTION__).'--Line('. (__LINE__).')');
?>
<style>
    .title-faq {
        text-align: center;
    }

    .search-form-faq {
        width: 40%;
        margin: auto;
        margin-bottom: 20px;
    }

    .search-form-faq form {
        width: 100%;
        position: relative;
    }

    .search-form-faq form input {
        width: 100%;
    }

    .search-form-faq form button {
        position: absolute;
        top: 0px;
        right: 0px;
        border-left: none;
    }

    .content-faq {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .content-faq-widget {
        width: 75%;
    }

    .content-faq-widget ul {
        padding-left: 0px;
    }

    .content-faq-widget ul li {
        list-style: none;
        border-bottom: 1px solid #c9c9c9;
        padding-bottom: 15px;
    }

    .content-faq-widget ul li span {
        justify-content: flex-end;
    }

    .amfaq_categories {
        width: 23%
    }

    .amfaq_categories .item-title {
        text-align: center;
        font-size: 18px;
        background: #c9c9c9
    }

    .amfaq_categories .item {
        line-height: 40px;
        border-bottom: 1px solid #cccccc;
    }

    .amfaq_categories .item a {
        font-size: 15px;
        color: #333333;
    }

    .view-all {
        margin-top: -10px;
    }
</style>
<div class="title-faq">
    <h1>Help center</h1>
</div>
<div class="return-faq-content">
    <a href="<?php echo $this->getBackQuestion();?>">Back to home</a>
</div>
<div class="search-form-faq">
    <form action="<?php $this->getActionSearchQuestion(); ?>" method="GET">
        <input type="text" name="question" placeholder="Find answer (deliver, etc.)" title="search"/>
        <button class="button am-button" title="search" type="submit">Search</button>
    </form>
</div>
<div class="content-faq">
    <div class="amfaq_categories">
        <div class="item item-title">Categories</div>
        <?php foreach ($collectionCategory as $key => $value): ?>
            <div class="item">
                <a href="<?php echo $this->getCategoryUrl($value->getId());?>"><?php echo $value->getCategoryName(); ?></a>
            </div>
        <?php endforeach; ?>
    </div>
    <div class="content-faq-widget">
        <ul>
            <?php foreach ($collectionQuestion as $key => $value): ?>
                <li>
                    <h4 class="question-title"><?php echo $value->getName(); ?></h4>
                    <p><?php echo $value->getFullAnswer(); ?></p>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>





